* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: #1f1f70;
    color: white;
    -webkit-font-smoothing: antialiased;
}

.centrado {
    display: flex;    
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
}

.btn-style{
    padding: 15px;
    margin: 10px;
    border-radius: 15px;
    background-color: #2599dd;
    color: white;
    border: none;
    cursor: pointer;
}

.btn-style:hover{
    background-color: rgba(49, 141, 194, 0.822);
}