* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: #1f1f70;
    color: white;
    -webkit-font-smoothing: antialiased;
}

.centrado {
    display: flex;    
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: auto;
    margin: 50px;
}

.btn-style{
    padding: 10px;
    margin: 10px;
    border-radius: 15px;
    background-color: #2599dd;
    color: white;
    border: none;
    cursor: pointer;
}

.btn-style:hover{
    background-color: rgba(49, 141, 194, 0.822);
}

.card-two{
    margin: 20px;
    padding: 50px;
    background: white;
    color: black;
    border-radius: 20px;
    text-align: center;
    transition: .5s all ease-in;
}

.card-3{
    padding: 30px;
    background: white;
    color: black;
    border-radius: 20px;
    text-align: center;
    margin-bottom: 20px;
}
